# entropy and mutal information

In [1]:
x = [-3, -2, -1, 0, 1, 2, 3]
y = [9, 4, 1, 0, 1, 4, 9]

In [2]:
import pandas as pd
df = pd.DataFrame({'x': x, 'y':y}) 
df

   x  y
0 -3  9
1 -2  4
2 -1  1
3  0  0
4  1  1
5  2  4
6  3  9

In [3]:
total = df.shape[0]

In [4]:
import numpy as np
import math
# pd.options.display.float_format = '{:,.6f}'.format
value_counts = df.value_counts()


# converting to df and assigning new names to the columns

df_pair = pd.DataFrame(value_counts) 
df_pair = df_pair.reset_index()  
df_pair.columns = ['x', 'y', 'count'] # change column names 
df_pair['count']=df_pair['count']/total

for i, row in df_pair.iterrows():
    df_pair.at[i,'-plog2p'] = -1* math.log2(row['count'])  * row['count']
 
h_x_y = df_pair['-plog2p'].sum()
print(f"H(x, y)  = {h_x_y}")
df_pair

H(x, y)  = 2.807354922057604

   x  y     count   -plog2p
0  3  9  0.142857  0.401051
1  2  4  0.142857  0.401051
2  1  1  0.142857  0.401051
3  0  0  0.142857  0.401051
4 -1  1  0.142857  0.401051
5 -2  4  0.142857  0.401051
6 -3  9  0.142857  0.401051

In [5]:
value_counts = df['x'].value_counts()


# converting to df and assigning new names to the columns

df_x = pd.DataFrame(value_counts) 
df_x = df_x.reset_index()  
df_x.columns = ['x', 'count'] # change column names  
df_x['count']=df_x['count']/total

for i, row in df_x.iterrows():
    df_x.at[i,'-plog2p'] = -1* math.log2(row['count'])  * row['count']
 
h_x = df_x['-plog2p'].sum()
print(f"H(x)  = {h_x}")
df_x

H(x)  = 2.807354922057604

   x     count   -plog2p
0  3  0.142857  0.401051
1  1  0.142857  0.401051
2  2  0.142857  0.401051
3  0  0.142857  0.401051
4 -3  0.142857  0.401051
5 -2  0.142857  0.401051
6 -1  0.142857  0.401051

In [6]:
value_counts = df['y'].value_counts()


# converting to df and assigning new names to the columns

df_y = pd.DataFrame(value_counts) 
df_y = df_y.reset_index()  
df_y.columns = ['y', 'count'] # change column names  
df_y['count']=df_y['count']/total

for i, row in df_y.iterrows():
    df_y.at[i,'-plog2p'] = -1* math.log2(row['count'])  * row['count']
 
h_y = df_y['-plog2p'].sum()
print(f"H(y)  = {h_y}")
df_y

H(y)  = 1.950212064914747

   y     count   -plog2p
0  4  0.285714  0.516387
1  1  0.285714  0.516387
2  9  0.285714  0.516387
3  0  0.142857  0.401051

In [11]:
total_x = df_x.shape[0] ####7
total_y = df_y.shape[0] ####4

I_mutual = h_x + h_y - h_x_y
print(f'Mutual information = H(x) +H(y) - H(x, y) = {I_mutual}')
print(f'Normalize Mutual information = log2(min(m, n))) = {I_mutual/math.log2(min(total_x, total_y))} => x and y strongly related')

Mutual information = H(x) +H(y) - H(x, y) = 1.9502120649147474
Normalize Mutual information = log2(min(m, n))) = 0.9751060324573737 => x and y strongly related